extends layout
 
block content
  
  div.container-fluid
      div.row.gray_background
            div.wrapper 
                  div.span4
                    img(src="../images/exaple-image.jpg")
                  div.span8
                    div.row-fluid
                      div.span4
                        Lorem ipsum
                      div.span4
                        Lorem ipsum
                      div.span4
                        Lorem ipsum
                          
                    p  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris egestas sapien eleifend purus cursus semper. Nulla nec elementum orci. Etiam ac hendrerit augue. In gravida nisi tristique, ultrices tellus in, vehicula diam. Donec et sapien aliquam, malesuada erat ut, tempor risus. Donec mattis nulla ac elit sollicitudin, sit amet euismod mauris ultrices. Nullam vitae eros et sem congue placerat. Morbi malesuada commodo nunc, rhoncus consectetur ante. Integer a lacus nulla. Donec ullamcorper nec nulla sed porttitor. Morbi malesuada risus nec dolor mollis blandit. Aliquam id orci eget orci viverra convallis ac ac lorem. Ut aliquam libero sit amet posuere aliquet. Praesent convallis odio sed sapien lacinia luctus quis vitae leo. 
            
      div.row.dark_background
            div.wrapper 
                  div.span8
                    p  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris egestas sapien eleifend purus cursus semper. Nulla nec elementum orci. Etiam ac hendrerit augue. In gravida nisi tristique, ultrices tellus in, vehicula diam. Donec et sapien aliquam, malesuada erat ut, tempor risus. Donec mattis nulla ac elit sollicitudin, sit amet euismod mauris ultrices. Nullam vitae eros et sem congue placerat. Morbi malesuada commodo nunc, rhoncus consectetur ante. Integer a lacus nulla. Donec ullamcorper nec nulla sed porttitor. Morbi malesuada risus nec dolor mollis blandit. Aliquam id orci eget orci viverra convallis ac ac lorem. Ut aliquam libero sit amet posuere aliquet. Praesent convallis odio sed sapien lacinia luctus quis vitae leo. 
                  div.span4
                    img(src="../images/exaple-image.jpg")


      div.row.gray_background
            div.wrapper 
                  div.span4
                    img(src="../images/exaple-image.jpg")
                  div.span8
                    p  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris egestas sapien eleifend purus cursus semper. Nulla nec elementum orci. Etiam ac hendrerit augue. In gravida nisi tristique, ultrices tellus in, vehicula diam. Donec et sapien aliquam, malesuada erat ut, tempor risus. Donec mattis nulla ac elit sollicitudin, sit amet euismod mauris ultrices. Nullam vitae eros et sem congue placerat. Morbi malesuada commodo nunc, rhoncus consectetur ante. Integer a lacus nulla. Donec ullamcorper nec nulla sed porttitor. Morbi malesuada risus nec dolor mollis blandit. Aliquam id orci eget orci viverra convallis ac ac lorem. Ut aliquam libero sit amet posuere aliquet. Praesent convallis odio sed sapien lacinia luctus quis vitae leo. 
      div.row.dark_background
            div.wrapper 
                  div.span8
                    p  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris egestas sapien eleifend purus cursus semper. Nulla nec elementum orci. Etiam ac hendrerit augue. In gravida nisi tristique, ultrices tellus in, vehicula diam. Donec et sapien aliquam, malesuada erat ut, tempor risus. Donec mattis nulla ac elit sollicitudin, sit amet euismod mauris ultrices. Nullam vitae eros et sem congue placerat. Morbi malesuada commodo nunc, rhoncus consectetur ante. Integer a lacus nulla. Donec ullamcorper nec nulla sed porttitor. Morbi malesuada risus nec dolor mollis blandit. Aliquam id orci eget orci viverra convallis ac ac lorem. Ut aliquam libero sit amet posuere aliquet. Praesent convallis odio sed sapien lacinia luctus quis vitae leo. 
                  div.span4
                    img(src="../images/exaple-image.jpg")     



  div.footer